# # Estinated variable
# PORT=8089

# Production - Donot push to github
PORT=8089
MONGODB_URI="mongodb://localhost:27017/class36b"
SECRET_KEY ="merosecretjwtkey"

# Khalti Payment Configuration
KHALTI_SECRET_KEY="your_khalti_secret_key_here"
KHALTI_API_URL="https://a.khalti.com/api/v2"